<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="valoracion">
      <h2 data-cy="valoracionDetailsHeading"><span>Valoracion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ valoracion.id }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ valoracion.descripcion }}</span>
        </dd>
        <dt><span>Fecha</span></dt>
        <dd>
          <span>{{ valoracion.fecha | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Puntuacion</span></dt>
        <dd>
          <span>{{ valoracion.puntuacion }}</span>
        </dd>
        <dt><span>Usuario</span></dt>
        <dd>
          <div *ngIf="valoracion.usuario">
            <a [routerLink]="['/usuario', valoracion.usuario?.id, 'view']">{{ valoracion.usuario?.id }}</a>
          </div>
        </dd>
        <dt><span>Servicio</span></dt>
        <dd>
          <div *ngIf="valoracion.servicio">
            <a [routerLink]="['/servicio', valoracion.servicio?.id, 'view']">{{ valoracion.servicio?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/valoracion', valoracion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
