<div>
  <h2 id="page-heading" data-cy="ServicioHeading">
    <span>Servicios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-servicio"
        [routerLink]="['/servicio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Servicio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="servicios?.length === 0">
    <span>No servicios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="servicios && servicios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="titulo"><span>Titulo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descripcion"><span>Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="disponibilidad"><span>Disponibilidad</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="preciohora"><span>Preciohora</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="preciotraslado"><span>Preciotraslado</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechacreacion"><span>Fechacreacion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaactualizacion"><span>Fechaactualizacion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="usuario.id"><span>Usuario</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servicio of servicios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/servicio', servicio.id, 'view']">{{ servicio.id }}</a>
          </td>
          <td>{{ servicio.titulo }}</td>
          <td>{{ servicio.descripcion }}</td>
          <td>{{ servicio.disponibilidad }}</td>
          <td>{{ servicio.preciohora }}</td>
          <td>{{ servicio.preciotraslado }}</td>
          <td>{{ servicio.fechacreacion | formatMediumDatetime }}</td>
          <td>{{ servicio.fechaactualizacion | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="servicio.usuario">
              <a [routerLink]="['/usuario', servicio.usuario?.id, 'view']">{{ servicio.usuario?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/servicio', servicio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/servicio', servicio.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(servicio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="servicios && servicios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
