<div>
  <h2 id="page-heading" data-cy="MensajeHeading">
    <span>Mensajes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mensaje"
        [routerLink]="['/mensaje/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Mensaje </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mensajes?.length === 0">
    <span>No mensajes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mensajes && mensajes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="texto"><span>Texto</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fecha"><span>Fecha</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="emisor.id"><span>Emisor</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="receptor.id"><span>Receptor</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="conversacion.id"><span>Conversacion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mensaje of mensajes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mensaje', mensaje.id, 'view']">{{ mensaje.id }}</a>
          </td>
          <td>{{ mensaje.texto }}</td>
          <td>{{ mensaje.fecha | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="mensaje.emisor">
              <a [routerLink]="['/usuario', mensaje.emisor?.id, 'view']">{{ mensaje.emisor?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mensaje.receptor">
              <a [routerLink]="['/usuario', mensaje.receptor?.id, 'view']">{{ mensaje.receptor?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="mensaje.conversacion">
              <a [routerLink]="['/conversacion', mensaje.conversacion?.id, 'view']">{{ mensaje.conversacion?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mensaje', mensaje.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mensaje', mensaje.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(mensaje)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mensajes && mensajes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
